@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Source+Sans+Pro:wght@200&display=swap");
h1 {
  color: #e78f8f;
  width: 100%; }

form {
  display: inline-block;
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 25px;
  border-radius: 8px; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-style: none;
  text-decoration: none; }

nav {
  background: #217E90;
  height: 80px;
  width: 100%; }

@media screen and (max-width: 875px) {
  nav {
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 799px) {
  nav {
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.logo {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  float: left; }

nav ul {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  padding: 10px;
  float: none; }

.sub {
  text-align: left;
  padding: 20px; }

.lista {
  text-align: center; }

a {
  color: #e78f8f; }

body {
  min-height: 100vh;
  text-align: center;
  position: relative;
  padding-bottom: 2em;
  background-image: url(../Imagenes/fondo2.jpg);
  background-size: width 100%;
  background-size: height 100%;
  background-attachment: fixed; }

form {
  display: inline-block;
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 25px;
  border-radius: 8px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  box-sizing: border-box;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

.coment {
  color: black;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 50px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: white; }

.div-main {
  text-align: center;
  color: black;
  font-size: x-large; }

.border {
  margin-left: auto;
  margin-right: auto; }

.texto {
  border: 1px solid black; }

.shop {
  height: 100px;
  text-align: center;
  color: greenyellow;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 5s; }

.nav-link {
  color: black; }

.nav-link:hover {
  color: violet; }

.nav-link:active {
  color: violet; }

.campera {
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 33);
  grid-template-rows: repeat(1, 100%);
  grid-template-areas: "im1 im2 im3"; }

.grid {
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  padding: 20px;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img8"; }

@media screen and (max-width: 875px) {
  .grid {
    border: none;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8, 12.5%);
    grid-template-areas: "img1" "img2" "img3" "img4" "img5"  "img6" "img7" "img8"; }
  .campera {
    border: none;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: "im1" "im2" "im3"; } }

.img1 {
  padding: 20px;
  text-align: center; }

.img2 {
  padding: 20px;
  text-align: center; }

.img3 {
  padding: 20px;
  text-align: center; }

.img4 {
  padding: 20px;
  text-align: center; }

.img5 {
  padding: 20px;
  text-align: center; }

.img6 {
  padding: 20px;
  text-align: center; }

.img7 {
  padding: 20px;
  text-align: center; }

.img8 {
  padding: 20px;
  text-align: center; }
